
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:20px;
    margin-left:10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    background: #0086ffde;
    color:#2D5D7B;
	user-select: none;
    overflow-x: hidden;
}
body, html {
    display: inline;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    width: 100%;
    background: #ffa739;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 200px;
	min-width: 300px;
    margin-top: 0;
    padding: 2px;
    border-radius: 30px 30px 0 0;
    background: #ffa739;
}
#app{
    border-radius: 30px 30px 0 0;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;
}
    .menu__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 150px;
        height: 150px;
        cursor: pointer;
        background: transparent;
        z-index: 100;
        transition: 150ms;
        
    }
    .menu__icon:hover{ animation: icon .1s 5; }
    .menu__span:hover{ transform: translateY(-17px); transition: 300ms;}
    .menu__icon{
        width: 100px;
        height: 100px;	
        object-fit: contain;
        margin: 2px;
		border: 1px solid black;
		background-color: #94d8ff;
        border-radius: 50%;
    }
    .icon{
        width: 50px;
        height: 50px;	
        object-fit: contain;
        margin: 2px;
		border: 1px solid black;
		background-color: #94d8ff;
        border-radius: 50%;
    }
    .menu__content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: 100%;
        height: 18px;
        overflow: hidden;
    }


@keyframes icon {
    0%{ transform: rotateZ(-10deg); }
    100%{ transform: rotateZ(10deg); }
}


.app-header {
    background: linear-gradient(to bottom, rgb(0, 0, 0), blue, rgb(0, 149, 255));
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
    padding: 4px;
    color: white;
    text-align: center;
    box-shadow: 0 36px 36px 56px rgb(0, 149, 255);
}

.app-balance {
    margin: 20px 0;
}

.app-balance span {
    font-size: 1.5em;
}

.app-actions button,
.app-features button,
.app-footer button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}

.app-actions button:hover,
.app-features button:hover,
.app-footer button:hover {
    background-color: #ddd;
}
.app-actions{
    display: flex;
    flex-direction: column;
}
.app-footer {
    align-items: center;
    text-align: center;
    margin-top: auto;
    background-color: #333;
    color: white;
}

.app-footer button {
    background: none;
    color: white;
}


#navbar {
    position: fixed;  
    bottom: 0;
    left: 0;
    width: 100%;      
    background-color: #333; 
    overflow: hidden; 
    display: flex;    
    justify-content: center; 
    border-radius: 20px 20px 0 0 ;
    z-index: 999;
}


#navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;      
    font-size: 35px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
    
}
#display {
    font-size: 2em;
    width: 270px;
    height: 130px;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
    margin-left: -10px;
    border: 1px solid #ccc;
    border-radius: 20px 5px;
    background-color: #fff;
    color: #007bff;
    box-shadow: 5px 5px 5px #888888;
}
#displaymania{
    font-size: 2em;
    width: 270px;
    height: 424px;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
    margin-left: -10px;
    border: 1px solid #ccc;
    border-radius: 20px 5px;
    background-color: #fff;
    color: #007bff;
    box-shadow: 5px 5px 5px #888888;
}
#combinadisplay {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    color: #007bff;
    box-shadow: 5px 5px 5px #888888;
}
.salvaCombinacoes{
    background-color: #14ed3f;
    cursor: pointer;
    padding: 11px 12px;
    border-radius: 0 0 20px 20px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 10px;
}
#buscaConcursos{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    color: #007bff;
    box-shadow: 5px 5px 5px #888888;
    margin-bottom: 0;
}
#teclado {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    width: 100%;
    height: 100%;
    max-width: 300px;
    margin-bottom: 100px;
}
.bolas{
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    font-size: 1em;
    background-color: #007bff;
    box-shadow: 5px 5px 5px #888888;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.bolas-selecionadas {
    background-color: #4CAF50; 
    color: white; 
}

.button {
    width: 100px;
    height: 80px; 
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: #007bff;
    box-shadow: 5px 5px 5px #888888;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#bclear {
    background-color: #dc3545;
    cursor: pointer;
    padding: 11px 12px;
    border-radius: 20px 20px 0 0;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 50%;
}
#colocarnocarrinho {
    background-color: #14ed3f;
    cursor: pointer;
    padding: 11px 12px;
    border-radius: 0 0 20px 20px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin-bottom: 16px
}


a {
    display: inline-block;
    padding: 2px 2px;
    margin: 1px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #0000ff;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#buttonInstall {
    display: none;
    border:1px ;
    background-color: transparent;
    color: rgb(34, 0, 255);
    font-size: 25px;
   
}

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 16px;
    width: 100%;

  }


#status {
    margin-top: 20px;
}

.selected {
    background-color: #4CAF50;
    color: white;
  }
  .selectered {
    background-color: #e81818;
    color: white;
  }
  input[type="text"]{
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 10px;
    width: 20%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 11px 12px;
    border-radius: 20px 5px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .buy{
    background-color: #2ee00a;
  }
  .sell{
    background-color: #c349bc;
    cursor: pointer;
    padding: 11px 12px;
    border-radius: 0 0 20px 20px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 103%;
    margin-bottom: 10px;
  }
  .btn:hover {
    background-color: #2980b9;
    cursor: pointer;
  }
 

.hidden {
    display: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px 5px;
}

.modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #752c7138;
    backdrop-filter: blur(20px);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px 5px;
    width: 300px;
    color: white;
}

.close-button {
    position: absolute;
    color: #ff0e0e;
    font-size: 20px;
    font-weight: bold;
    left: 310px;
    top: 0px;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
li{
    width: 100%;
    word-wrap: break-word;
    word-break: break-all
}
.lista-tens{
    display: flex;
    box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
    list-style: none;
    border-radius: 20px 5px;
    width: 100%;
    padding: 5px;
    align-items: baseline;
    word-wrap: break-word;
    word-break: break-all;
    flex-direction: column;
}
.limpa-lista{
    background-color: rgb(195 73 188);
    cursor: pointer;
    padding: 11px 12px;
    border-radius: 20px 5px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin-left: 19px;
}
.salvarCombinacoes{
    width: 100%;
    margin: 30px 0 0;
    border-radius: 20px 20px 0 0;
    font-size: 16px;
    border: none;
    background-color: #ff50f5;
    cursor: pointer;
}