
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:20%;
    margin-left:10%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    background: #0086ffde;
    color:#2D5D7B;
	user-select: none;
    overflow: 20px;
}
body, html {
    display: inline;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    width: 100%;
    background: #ffa739;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
	min-width: 300px;
    margin-top: 0;
    padding: 2px;
    border-radius: 30px 30px 0 0;
    background: #ffa739;
}
#app{
    border-radius: 30px 30px 0 0;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;
}
    .menu__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 150px;
        height: 150px;
        cursor: pointer;
        background: transparent;
        z-index: 100;
        transition: 150ms;
        
    }
    .menu__icon:hover{ animation: icon .1s 5; }
    .menu__span:hover{ transform: translateY(-17px); transition: 300ms;}
    .menu__icon{
        width: 100px;
        height: 100px;	
        object-fit: contain;
        margin: 2px;
		border: 1px solid black;
		background-color: #94d8ff;
        border-radius: 50%;
    }
    .icon{
        width: 50px;
        height: 50px;	
        object-fit: contain;
        margin: 2px;
		border: 1px solid black;
		background-color: #94d8ff;
        border-radius: 50%;
    }
    .menu__content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: 100%;
        height: 18px;
        overflow: hidden;
    }


@keyframes icon {
    0%{ transform: rotateZ(-10deg); }
    100%{ transform: rotateZ(10deg); }
}


.app-header {
    background: linear-gradient(to bottom, rgb(0, 0, 0), blue, rgb(0, 149, 255));
    padding: 4px;
    color: white;
    text-align: center;
    font-size: 24px;
    box-shadow: 0 36px 36px 56px rgb(0, 149, 255);
}
.app-footer2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     position: relative;
    align-items: center;
    background: linear-gradient(to top, rgb(0, 0, 0), blue, rgb(0, 149, 255));
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 18px;
}
.app-balance {
    margin: 20px 0;
}

.app-balance span {
    font-size: 1.5em;
}

.app-actions button,
.app-features button,
.app-footer button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}

.app-actions button:hover,
.app-features button:hover,
.app-footer button:hover {
    background-color: #ddd;
}

.app-footer {
    align-items: center;
    text-align: center;
    margin-top: auto;
    background-color: #333;
    color: white;
}

.app-footer button {
    background: none;
    color: white;
}

#btn-check-balance {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

