body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  #0086ffde;
    padding: 10px;
    border-radius: 20px 20px 0 0;
}
#navbar {
    position: fixed;  
    bottom: 0;
    left: 0;
    width: 100%;      
    background-color: #333; 
    overflow: hidden; 
    display: flex;    
    justify-content: center; 
    border-radius: 20px 20px 0 0 ;
    z-index: 999;
}


#navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;      
    font-size: 35px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
    
}
#display {
    font-size: 2em;
    width: 270px;
    height: 130px;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
    margin-left: -10px;
    border: 1px solid #ccc;
    border-radius: 20px 5px;
    background-color: #fff;
    color: #007bff;
    box-shadow: 5px 5px 5px #888888;
}
#valorTransferencia{
    font-size: 20px;
    width: 60%;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
    margin-left: -10px;
    border: 1px solid #ccc;
    border-radius: 20px 5px;
    background-color: #fff;
    color: #007bff;
    box-shadow: 5px 5px 5px #888888;
}
#teclado {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    width: 100%;
    height: 100%;
    max-width: 300px;
}
.bolas{
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    font-size: 1em;
    background-color: #007bff;
    box-shadow: 5px 5px 5px #888888;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.bolas-selecionadas {
    background-color: #4CAF50; 
    color: white; 
}

.button {
    width: 100px;
    height: 80px; 
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: #007bff;
    box-shadow: 5px 5px 5px #888888;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#bclear {
    background-color: #dc3545;
    cursor: pointer;
    padding: 11px 12px;
    border-radius: 20px 5px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
#salvarBtn {
    background-color: #14ed3f;
    cursor: pointer;
    padding: 11px 12px;
    border-radius: 20px 5px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


a {
    display: inline-block;
    padding: 2px 2px;
    margin: 1px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #0000ff;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#buttonInstall {
    display: none;
    border:1px ;
    background-color: transparent;
    color: rgb(34, 0, 255);
    font-size: 25px;
   
}

  .container {
    padding: 2px 16px;
  }


#status {
    margin-top: 20px;
}

.selected {
    background-color: #4CAF50;
    color: white;
  }
  .selectered {
    background-color: #e81818;
    color: white;
  }
  input[type="text"]{
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 10px;
    width: 20%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 11px 12px;
    border-radius: 20px 5px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .buy{
    background-color: #2ee00a;
  }
  .sell{
    background-color: #f93a19;
  }
  .btn:hover {
    background-color: #2980b9;
    cursor: pointer;
  }
 

.hidden {
    display: none;
}
